html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    background: url("images/chalk_bg.jpg") fixed no-repeat;
    background-size: cover;
    overflow-y: scroll;
}
/* will be replaced with reset.css */
* {
    margin:0;
    padding:0;
}
/* --- General layout/theme section --- */ 
.siteview {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    background: #333 url("images/landing_bg.jpg") no-repeat center top;

    
    width: 920px;
    margin: 0 auto;
}
.siteview--nagrody {
    background: #333 url("images/nagrody_bg.jpg") no-repeat center top;
}
.siteview--gallery {
    background: #333 url("images/gallery_bg.jpg") no-repeat center top;
}
.siteview--zasady {
    background: #333 url("images/zasady_bg.jpg") no-repeat center top;
}


/* --- header  section --- */ 
.header__logo {
    margin-left: 32px;
    margin-top: 32px;
    float: left;
}
/* --- menu section --- */
.menu {
    padding-top: 48px;
}
.mainmenu {
    list-style: none;
    background-color: white;
    height: 90px;
    padding-left: 320px;
    margin: 0;
}
.mainmenu__item {
    font-size: 1.2em;
    float: left;
    padding: 1.2em 0.5em 0.2em 0.5em;
}
.mainmenu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #d4021d;
}
.mainmenu__link:hover,
.mainmenu__link:focus {
    border-bottom: 4px solid slategrey;
}
.mainmenu__link--to-register {
    color: black;
}
.mainmenu__link--to-register:hover {
    border-bottom: 4px solid #d4021d;
}
/* --- content section --- */ 
.content {
    margin-top: 486px;
    clear: left; /* just in case */
    background: #d4021d;
    padding-bottom: 32px;
}
.content--alternative-colors {
    background: white;
    color: black;
}
.content__banner {
    color: #d4021d;
    background: white;
    font-size: 22px;
    padding: 1em 0;
    margin: 0;
    margin-bottom: 24px;    
    text-align: center;
    text-transform: uppercase;
}
.content__banner--alternative {
    color: white;
    background: #d4021d;
}
.content__yell {
    font-weight: 700;
    padding: 16px 64px;
    margin: 0;   
    font-family: "Clarendon", "Georgia", "Palatino Linotype", "Garamond", serif; 
    text-transform: uppercase;
    text-align: center;
}
.content__yell--large {
    font-size: 38px;
}
.content__yell-medium {
    font-size: 24px; /* taki sam jak dla całej strony - definiować? */
}
.content__yell--small {
    font-size: 20px;
}
.content__yell--strong {
    font-size: 60px;
    padding: 0;
}
.content__link--to-rules {
    color: black;
    text-decoration: none;
}
.content__link--to-rules:hover,
.content__link--to-rules:focus {
    text-decoration: underline;
}
.content__link--to-rules::after {
    content: ">"
}
.content__description {
    font-size: 85%;
    text-transform: none;
    padding: 0 2em;
    text-align: left;
    word-spacing: 110%;
    line-height: 150%;
}
.content__list {
    margin: 2em;
    margin-left: 3em;
}
.content__list-item {
    padding: 0.25em;
}
.content__bony {
    margin: 1em;
}
/* --- gallery  section  --- */
.content--gallery {
    background: none;
    margin-top: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.gallery__list {
    margin: 2em;
    list-style: none;
    
}
.gallery__item {
    display: inline-block;
    margin: 1em 1.4em;
    padding: 0;
    background: white;
    width: 218px;
    height: 170px;
    background: #fff url("images/picture_thumbinal.png") 8px 40px no-repeat;
    
}
.gallery__authorname {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    background: #d4021d;
    height: 32px;
    width: 218px;
    margin: 0;
}
.gallery__picture-link {
    margin-top: 32px;
    width: 202px;;
    height: 122px;
    margin: 0;
    padding: 8px;
    display: block;
}
.gallery__picture-link:hover {
    cursor: url("images/cursor_hugehand.png"), auto;
    background: #d4021d url("images/zoom_icon.png") center no-repeat;
    opacity: 0.4;
}
/* -- pageswitcher module -- */
.content__pageswitch {
    width: 920px;
    height: 68px;
    color: white;
    background-color: #d4021d;
    display: block;
    line-height: 64px;
    margin-top: 64px;
}
.content__pageswitch-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color:white;
    padding: 0.25em;
}
.content__pageswitch-button:hover {
    text-decoration: underline;
}

.content__pageswitch-button--inactive:hover {
    text-decoration: none;
}
.content__pageswitch-center-section {
    margin: 0 auto;
    text-align: center;
    display: block;
}
.content__pageswitch-left-section {
    float: left;
    padding-left: 20px;
    text-align: left;
}
.content__pageswitch-right-section {
    float: right;
    padding-right: 20px;
    text-align: right;
}
/* --- animations --- */
@keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  
.header__logo--slide-from-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* --- small screen setup --- */
@media screen and (max-width: 920px) {
    .siteview {
        width: 100%;
        background-attachment: local;
        background-position-y: -290px;
    }
    .siteview--nagrody {
        background-position-x: -130px;
        background-position-y: -275px;
    }
    .siteview--zasady {
        background-position-x: 130px;
        background-position-y: -275px;
    }

    .siteview--gallery {
        background: #333 url("images/chalk_bg.jpg") no-repeat center top;
        background-attachment: fixed;
        background-size: cover;
    }
    .header__logo {
        margin: 0;
        background-color: white;
        width: 130px;
        height: 130px;
        float: none;
    }
    .menu {
        padding-top: 0;
        line-height: 22px;
    }
    .mainmenu {
        padding: 0;
        height: auto;
        float: left;
        background: none;
    }
    .mainmenu__item {
        margin: 0;
        background: white;  
        display: inline-block;
        padding: 0.5em;
        border-right: 1px dashed #aaa;
        border-bottom: 1px dashed #aaa;
    }
    .mainmenu__item:first-child {    
        border-left: 1px dashed #aaa;
    }
    .mainmenu__item:hover, .mainmenu__link:focus {
        background-color: #efefef;
    }
    .header__logo {
        float: none;
    }
    .content__banner {
        border-top: 6px solid #ccc;
    }
    .content {
        margin-top: 0;
    }
    .content__bon-picture{
        width: 48%;
        min-width: 220px;
    }
    .gallery__list {
        margin:0 auto;
    }
    .gallery__item {
        margin: 8px;
    }
    .content__pageswitch {
        width: 100%;
    }
    .content__pageswitch-button {
        font-size: 0.8em;
    }
    .content__pageswitch-left-section {
        padding-left: 8px;
        width: auto;
        
    }
    .content__pageswitch-right-section {
        padding-right: 8px;
        width: auto;

    }
    .content__pageswitch-center-section {
        display: block;
        width: auto;

    }
}
/* --- even smaller screen stup --- (design upto ~480px) */
@media screen and (max-width: 600px) {
    .siteview {
        background-position-y: -150px;
    }
    .logo__image {
        position: relative;
        display: inline-block;
    }
    .mainmenu__item {
        float:none;
        display: block;
    }
    .content__bon-picture{
        min-width: 80%;
    }
}